@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/*variables css*/

:root {
    ---header-height: 3rem;
    /*colors*/
    /* EDFB54  -yellowish color*/
    /* 0CA5AF  - blueish one to hover maybe*/

    --hue-color:  ;
}



.header {
    text-align: center;
    color: #056470;
    margin-top: 150px;
}
.about{
    
    color: aqua;
    margin: auto;
    padding-top: 40px;
    
}
.about p{
    color: #056470;
}
.about h1{
    color: #022e34;
}
.nav-item{
    color: #ffffff;
}


.card p{
    text-align: center;
}

.card-body.btn.btn-warning{
    color: blue;
}

.row{
    padding: 2rem;
}

h2{
    text-align: center;
    padding: 1rem;
    color: chocolate;
}

.card.text-bg-light.mb-3{
    text-align: center;
}

.card-body{
    text-align: center;
    color: rgb(98, 11, 155);
}

.col-sm-3{
    padding: 10px;
}

.personal-info{
    color: rgb(93, 31, 155);
    padding-top: 55px;
}

.col-sm-4{
    align-self: center;
}

.col-sm-8{
    align-self: center;
    padding-top: 0%;
}

.img-fluid.rounded-start{
    width: 300px;
}

.contact-form{
    margin: auto;
    padding-top: 50px;
}
